.propreté {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fond {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 345px;
  height: 238px;
  border-radius: 10px;
}

.déroulant {
  width: 335px;
  height: 30px;
  left: calc(50% - 335px / 2);
  top: calc(50% - 30px / 2 + 223px);
  background: #ff6060;
  border-radius: 5px;
}

.descriptif {
  background: #f7f7f7;
  border-radius: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  line-height: 142.6%;
  /* or 34px */
  color: #ff6060;
}
