.footinit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  background: black;
}

.logo {
  margin-top: 1rem;

  width: 145px;
  height: 45px;
  filter: invert(50%) sepia(0%) saturate(750%) hue-rotate(270deg)
    brightness(900%) contrast(100%);
}

.copyrights {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  color: white;
}
